body{
    margin: 0;
    padding: 0;
    background-color: rgb(9, 180, 180);
}
.text{
    text-align: center;
    font-size: 40px;
    color: rgb(15, 7, 89);
    margin: 50px;
    
}
.header{
    font-weight: bold;
    font-size: 14px;
    color: gray;;
}

.search-form{
    text-align: center;
    align-items: center;

}
.search{
    height: 50px;
    width: 280px;
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Anatic SC', cursive;
    border-radius: 20px;
    border: hsla(55, 86%, 53%, 0.773) solid 2px;
    
}
.suggestions{
    font-size: 20px;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    align-items: start;
    margin: 20px auto;
    padding: 10px;
    list-style: none;
}

.suggestions li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    margin: 8px 0 0 20px;
    border-bottom: 1px solid #ccc;
}
.suggestions li:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}
.population{
    font-size: 14px;
    color: gray;
}
.h1{
    background-color: #eedd20c5;
}

.span{
    margin: 10px;
    background-color: white;
}